.container-todo {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnStyled {
  width: 300px;
  text-align: left;
}
.btnDelete {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
}
